#cadastro{
    display: none;
}

#respostaLogar{
    color: #fff;
}

body {
	color: #000;
	background-color:#C0C0C0;
	
	}
.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(http://ginva.com/wp-content/uploads/2012/07/city-skyline-wallpapers-008.jpg);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}


/*posição do logo*/
.logo{
	position: absolute;
	top: calc(50% - 300px);
	left: calc(50% - 150px);
	z-index: 2;
}
/*Tamanho da fonte do Logo*/
.logo div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 50px;
	font-weight: 800;
}

/* Cor do Logo U*/
.logo div span{
	color: #F65E01 !important;
}

#login {
	justify-content: center;
}

.centro {
	padding-left: 362px; padding-right: 362px; padding-bottom: 62px

}
.centro1 {
	padding-left: 329px;
}
h2 {
	color: #fff;
}






